* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: black; */
    background-color: black;
}

.tableau {
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    width: 95vw;
}

.tableSmartphone {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;

}

th,
td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: #212121;
    color: white;
    font-size: 36px;
    width: 300px;
}

td {
    color: black;
    font-size: 28px;
}

.testtest {
    max-height: 20px !important;
}

.cols {
    display: flex;
    width: 300px;
}

.col1,
.col2 {
    width: 150px;
}

.col1 li,
.col2 li {
    width: 100%;
}

td ol li {
    width: 300px;
    color: black;
    font-size: 28px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #D9D9D9;
}

body > div.tableau > table > tbody > tr.testtest{
    color: green;
}


.modify-button {
    background-color: #4CAF50;
    font-size: 28px;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.delete-button {
    background-color: #f44336;
    font-size: 28px;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.description-dashboard {
    font-size: 0.5em;
    width: 500px;
    height: 100px;

}

.addComposantbutton button {
    margin-left: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.textoverflow{
    background-color: red;
    width: 500px;
    height: 100px;
    overflow-y: scroll;
}

.textoverflow p {
    font-size: 25px;
}

.addArticleForm,
.addArticleDate,
.addArticleAlbum {
    margin: 10px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #000000;

}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

.addTracks button {
    height: 30px;
    width: 30px;
    font-size: 25px;
}

input[type="text"],
input[type="date"],
input[type="file"],
textarea {
    padding-left: 10px;
    padding: 5px 0;
    caret-color: white;
    color: white;
    font-size: 25px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding-left: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Inverser les couleurs pour rendre l'icône blanche */
}

.error {
    color: red;
    font-size: 20px;
    margin-top: 10px;
}








/* style pour l'affichage sur smartphone */
@media screen and (max-width: 480px) {
    .tableau {
        display: none;
    }

    .tableSmartphone {
        display: block;
        width: 95vw;
        height: auto;
        margin: 20px auto;
        padding: 10px;
    }


    .id {
        background-color: #212121;
        color: white;
        border-radius: 10px 10px 0 0;
    }

    .id p {
        font-weight: 700;
        font-size: 40px;
        text-align: center;
    }

    .mainCard {
        width: 100%;
        background-color: #D9D9D9;
    }

    #limited-span {
        color: white;
    }



    .titlesCard {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .titlesCard p {
        font-size: 40px;
        font-weight: 700;
    }

    .titlesCard span {
        font-size: 30px;
        overflow: hidden;
    }


    .buttons {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
    }

    .containerChar span {
        font-size: 0.30em;
        text-align: justify;
        overflow: hidden;
    }
}